@font-face {
    font-family: 'KOMIKAX';
    src: local('KOMIKAX'), url(../Fonts/KOMIKAX.ttf) format('truetype');
  }

.home {
    background-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

#mainContainer {
    min-height: 100vh;
    margin: 0;
}

#content {
    height: 100%;
    margin: 0;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

.header {
    width: 250%;
    display: flex;
    margin-top: 5%;
    position: relative;
}

#image-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    position: relative;
   margin-top: 5%;
}

#buttons {
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}


#phone-number-button {
    width: 30vw;
    background-color: rgba(42, 164, 73, .6);
    border: 5px solid black;
    border-radius: 25px;
    padding: 3%;
    cursor: pointer;
    
}



/*-----------------------Images----------------------*/

#third-place-logo {
    width: 40%;
    align-self: center;
    box-shadow: 0px 0px 20px rgb(36, 35, 35);
}

#the-lounge-img {
    width: 150%;  
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;  
    margin: 3% 0% 5% 5%;
    cursor: pointer;
}


#third-place-img {
    width: 148%;  
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;
    margin: 3% 0% 5% 5%;
    cursor: pointer;
}


#stevies-img {
    width: 200%;   
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;
    margin: 3% 0% 5% 5%;
    cursor: pointer;
}




@media screen and (max-width: 800px) {
    

.home {
    display: flex;
    background-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll; 
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;
}

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

#buttons { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}




/*-----------------------Images----------------------*/

#third-place-logo {
    width: 90%;
    align-self: center;
    box-shadow: 0px 0px 20px rgb(36, 35, 35);
}

#the-lounge-img {
    width: 60%;  
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;  
    margin: 10% 5%;
}

#third-place-img {
    width: 60%;  
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;
    margin: 10% 5%;
}


#stevies-img {
    width: 60%;   
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 25px;
    margin: 10% 5%;
}






}